*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --space: 1rem;
    --gray: #cecece;
    --blue-dark: #082032;
    --blue-low: #4380B1;
    --blue-high: #3071E7;
}

body {
    margin: 0;
    padding: 0;
}

.blogin-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    line-height: 1.4;
    background-color: #fafafa;
    letter-spacing: 0.012em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: calc(var(--space)*2) calc(var(--space)*2) 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.03), 0 1rem 2rem rgba(0, 0, 0, 0.05), 0 2rem 4rem rgba(0, 0, 0, 0.05), 0 4rem 8rem rgba(0, 0, 0, 0.05);
}

.form__content {
    width: 100%;
    padding: calc(var(--space)*2);
}

.form__content__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 calc(var(--space)*2);
}

.logo img {
    display: block;
    width: 150px;
    height: 150px;
}

.form__content__header .heading {
    font-size: 0.488899rem;
    text-align: center;
}

.form__field {
    margin-bottom: calc(var(--space)*2);
}

.form__label {
    display: inline-block;
    margin-bottom: calc(var(--space)*0.25);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-dark);
}

.form__input {
    display: block;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: calc(var(--space)*0.25);
    padding: 0.75rem;
    color: inherit;
    font-family: inherit;
}

.form__submit {
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    font-family: inherit;
    background: var(--blue-low);
    color: #fff;
    border: 0;
    border-radius: calc(var(--space)*0.25);
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: inherit;
}

.btn:hover,
.btn:focus {
    background-color: var(--blue-high);
}

.form__submit a {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue-dark);
}

.select-lang {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 8rem;
    position: relative;
}

select {
    background-color: var(--blue-low);
    flex: .5;
    outline: 0;
    border: 0;
    padding: .5rem;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

option {
    position: absolute;
    padding: 1rem;
    font-size: 1rem;
}

.cta {
    display: none;
}

@media (min-width: 48rem) {
    .login-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .form {
        margin: 0;
        box-shadow: none;
        width: 420px;
    }
    .form__content {
        width: calc(var(--space)*26);
    }
    .form__content__header .heading {
        font-size: 0.8rem;
    }
    .cta {
        all: unset;
        position: relative;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, #0575e6, #021b79);
    }
    .box div {
        position: absolute;
        left: 5%;
        top: 92%;
        width: 60px;
        height: 60px;
        border: 5px solid #fff;
        background-color: transparent;
        animation: animate 13s linear infinite;
        opacity: 0.2;
        border-radius: 10%;
    }
    .box div:nth-child(1) {
        left: 12%;
        top: 92%;
        animation: animate 17s linear infinite;
    }
    .box div:nth-child(2) {
        left: 20%;
        top: 92%;
        animation: animate 15s linear infinite;
    }
    .box div:nth-child(3) {
        left: 30%;
        top: 92%;
        animation: animate 13s linear infinite;
    }
    .box div:nth-child(4) {
        left: 40%;
        top: 92%;
        animation: animate 17s linear infinite;
    }
    .box div:nth-child(5) {
        left: 50%;
        top: 92%;
        animation: animate 20s linear infinite;
    }
    .box div:nth-child(6) {
        left: 60%;
        top: 92%;
        animation: animate 23s linear infinite;
    }
    .box div:nth-child(7) {
        left: 70%;
        top: 92%;
        animation: animate 26s linear infinite;
    }
    .box div:nth-child(8) {
        left: 80%;
        top: 92%;
        animation: animate 29s linear infinite;
    }
    .box div:nth-child(9) {
        left: 90%;
        top: 92%;
        animation: animate 31s linear infinite;
    }
    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(0);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.3) translateY(-900px) rotate(360deg);
            border-radius: 50%;
            opacity: 0;
        }
    }
}

@media (min-width: 72rem) {
    .form__content {
        width: calc(var(--space)*32);
        padding: calc(var(--space)*4);
    }
}